:root{
    --header-bg-color:hsl(0, 0%, 100%);
    --intro-section-bg-img: url('./images/bg-intro-mobile.svg');
    --intro-section-button: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    --header-menu-options-color: hsl(233, 8%, 62%); 
    --intro-section-title-color: hsl(233, 26%, 24%);
}

body{
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
}
.font{
    font-family: 'Public Sans', sans-serif;
}

/* common font color */

.intro-section-des-des, .services-description, .service-card-description, .articles-card-label, .articles-card-des{
    color: var(--header-menu-options-color);
}
.intro-section-des-title, .services-title, .service-card-title, .articles-section-title, .articles-card-title{
    color: var(--intro-section-title-color);
}
/* this is the header styling */
.easy-bank-header{
    width: 100vw;
    height: 2vh;
    padding: 6vh 0;
    
    background-color: var(--header-bg-color) ;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu-options{
    display: none;
}
.header-menu-button{
    display: none;
}

.header-navbar-icon{
    margin-right: 5vw;
    height: 2vh;
}
.header-navbar-close-icon{
    margin-right: 5vw;
}
.easy-bank-header-icon{
    margin-left: 5vw;
}
.hide-element{
    display: none;
}
.intro-section-image{
    align-self: center;
    height: 100%;
    width: 90vw;
    margin-top: -7%;
}
.navbar-dropdown{
    width: 80vw;
    height: 35vh;
    margin-top: 5vh;
    border-radius: 0.3rem;
    background-color: white;
    box-shadow: 0px 46px 297px 36px rgba(0,0,0,0.75);

    
    align-self: center;
    display: flex;
    justify-content: center;
}
.navbar-dropdown-options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navbar-options-anchor{
    color: black;
    text-decoration: none;
    font-size: 5vw;
    font-weight: 400;
    color:  hsl(233, 26%, 24%);
}



/* this is the intro section styling */
.easy-bank-intro-section{
    overflow: hidden;
    background-image: var(--intro-section-bg-img);
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
}
.intro-section-description-container{
    text-align: center;
    padding: 5% 6%;

}
.intro-section-des-title{
    font-size: 2.6rem;
}
.intro-section-des-des{
    margin: 8% 0;
    line-height: 1.8;
    font-size: 0.9rem;
}
.intro-section-des-button{
    background-image: var(--intro-section-button);
    padding: 4% 8%;
    font-size: 1rem;

    border-width: 0;
    border-radius: 1.6rem;
    color: white;

    font-weight: 600;
    margin-bottom: 3rem;
}


/* this is the services section styling */
.service-card-section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    background-color: hsl(220, 16%, 96%);
}

.services-title{
    font-size: 2.2rem;
}
.services-description , .service-card-description{
    margin: 8% 0;
    padding: 0 9%;
    line-height: 1.8;
    font-size: 1rem;
}
.service-card-title{
    font-size: 1.5rem;
}
.service-card-image{
    margin-bottom: 2rem;
    margin-top: 1rem;
}

/* this is the articles section styling */

.easy-bank-articles-section{
    padding: 4rem 10vw 4rem 10vw;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}
.articles-section-title{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.articles-card{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
   text-align: left;
    box-shadow: 0px 0px 24px -11px rgba(0,0,0,0.75);
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    line-height: 1.2rem;
}
.articles-card-image{
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 2rem;
}

.articles-card-label{
    font-size: 0.8rem;
    padding: 5% 10% 10% 10%;
    
}
.articles-card-title{
    font-size: 1rem;
    padding: 0% 10% 10% 10%;
    text-decoration: none;
}
.articles-card-des{
    font-size: 0.8rem;
    padding: 0% 10% 10% 10%;
}

/* this is the footer section styling */
.easy-bank-footer{
    text-align: center;
    background-color: hsl(233, 26%, 24%);
    color: white;
    padding: 3rem 0;
}
.footer-button{
    background-image: var(--intro-section-button);
}
.footer-easy-bank-logo{
    height: 6vh;
}
.footer-social-media-icons-cont{
    margin: 1.5rem 0;
}
.social-media-icon{
    margin: 0 0.4rem;
}
.footer-options{
    margin-bottom: 1.5rem;
}
.footer-options-anchor{
    color: white;
    text-decoration: none;
}
.footer-button{
    background-image: var(--intro-section-button);
    padding: 5% 10%;
    font-size: 1rem;

    border-width: 0;
    border-radius: 1.7rem;
    color: white;

    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.footer-copyright-text{
    font-size: 1rem;
}


/* this is hover changes */
.header-menu-button:hover, .intro-section-des-button:hover, .footer-button:hover{
    cursor: pointer;
    opacity: 0.6;
}
.articles-card-title:hover , .footer-options-anchor:hover{
    color:  hsl(136, 65%, 51%);
    cursor: pointer;
}
.header-options:hover{
    border-style: solid;
    border-width: 0 0 4px 0;
    border-color: hsl(136, 65%, 51%);
}
.social-media-icon:hover > .social-media-icon-bg-color{
    fill: hsl(136, 65%, 51%);
}

/* this is for desktop view */
@media only screen and (min-width: 420px) {

    .header-image-menu-container{
        width: 100%;
        height: 14vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-menu-options{
        color: var(--header-menu-options-color);
        display: flex;
        height: 100%;
    }
    .header-options{
        padding-top: 7%;
        margin: 0 1vw;
    }
    .header-menu-button{
        display: block;
        margin-right: 15vw;

        background-image: var(--intro-section-button);
        padding: 1% 2%;
        font-size: 1rem;

        border-width: 0;
        border-radius: 1.6rem;
        color: white;

        font-weight: 600;
    }
    .easy-bank-header-icon{
        margin-left: 3vw;
    }
    .navbar-container{
        display: none;
    }
    .navbar-dropdown{
        display: none;
    }
    .navbar-options-anchor-style{
        color: black;
        text-decoration: none;
        font-weight: 400;
        color:  hsl(233, 26%, 24%);
    }
    .easy-bank-intro-section{
        background-image: url('./images/bg-intro-desktop.svg');
        background-position: 35rem -8rem;
        background-size: 70rem;
        overflow: hidden;

        flex-direction: row-reverse;
        justify-content: space-between;

    }
    .intro-section-image{
        height: 50rem;
        margin-right: -7rem;
    }
    .intro-section-description-container{
        padding-top: 10rem;
        padding-left: 2rem;
        padding-right: 20rem;
        text-align: left;
    }
    .intro-section-des-title{
        font-size: 3rem;
    }
    .intro-section-des-des{
        font-size: 0.9rem;
    }
    .intro-section-des-button{
        border-radius: 2rem;
    }

    /* this is the services section styling */
    .service-card-section{
        text-align: left;
        padding-left:1.5rem;
    }
    .services-cards-conatiner{
        display: flex;

    }
    .services-description{
        margin: 2% 55% 4% 0;
    }
    .services-description , .service-card-description{
        padding: 0;
    }
    .service-card{
        margin-right: 1rem;
    }
    .service-card-title{
        font-size: 1.4rem;
    }
    .service-card-description{
        padding-right: 2rem;
    }

    /* this is the articles section styling */

    .easy-bank-articles-section{
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }
    .articles-section-title{
        padding-left: 1.5rem;
    }
    .articles-cards-container{
        display: flex;
    }
    .articles-card{
        margin: 0 1rem;
    }
    .articles-card-image{
        height: 30vh;
        margin-bottom: 1rem;

    }

    /* this is for footer styling */
    .easy-bank-footer{
        display: flex;
        justify-content: space-between;
    }
    .footer-social-media-container{
        text-align: left;
        margin-left: 2rem;
    }
    .footer-btn-copyrights-container{
        margin-left: 20vw;
        margin-right: 10vw;
        
    }
    .footer-easy-bank-logo{
        height: 4vh;
        
    }
    
}

























/* our name tag for web credits */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

